$primary-color: #3f51b5;
$white: #ffffff;
$main-background-color: #fafafa;
$sidnav-background-color : rgba(189, 23, 29, 0.5);
$icon-color: #484848;
// @import 'theme';
// $primary-color: $mat-blue;

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content .sidenav-icon {
    color: $white;
    &:hover { 
        color: rgb(168, 167, 167); 
      }

      &:active { 
        color: rgb(168, 167, 167) !important; 
      }
      &:focus { 
        color:rgb(168, 167, 167) !important; 
      }
      &:visited { 
        color: rgb(168, 167, 167) !important ; 
      }
}
/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9c9696; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9c9696; 
}
.mat-drawer-inner-container {
  width: 105% !important;
}